@media (max-width: 1349px) {
    #header {
        text-align: center;
    }

    #menu > ul {
        margin-top: 20px;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #footer .logo {
        font-size: 20px;
    }
}

@media (max-width: 646px) {

    .logo h1{
        font-size: 30px;
    }
    #menu ul {
        flex-direction: row; /* Cambia la dirección del flexbox a fila para distribuir los elementos en dos columnas */
        justify-content: center; /* Centra los elementos horizontalmente */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    }

    #menu li {
        flex: 0 0 50%; /* Establece el ancho de cada elemento del menú al 50% para que haya dos columnas */
        max-width: 50%; /* Limita el ancho máximo de cada elemento al 50% */
        box-sizing: border-box; /* Incluye el padding y el border en el ancho del elemento */
        margin-bottom: 10px; /* Añade espacio entre los elementos del menú */
    }

    #menu a {
        padding: 8px 15px; /* Ajusta el espaciado interior de los enlaces */
    }


    #content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #aside {
        margin-right: 0;
    }

    .port_charla {
        margin-left: 20px;
        margin-right: 20px;
    }

    .project {
        margin-right: 10px;
        margin-left: 10px;
    }

    #footer .logo {
        flex-grow: 1;
        order: 1;
        flex-basis: 100%;
        text-align: center;
        margin: 0;
        font-size: 15px;
    }
    
    #footer .info {
        flex-grow: 1;
        order: 2;
        margin-left: 20px;
        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }
}