/* Estilos generales */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

#container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

#about {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra todo el contenido horizontalmente */
}

#about h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

#about img {
    max-width: 200px; /* Limita el ancho máximo a 200px */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    border-radius: 25px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* Estilos del menú */
#menu {
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu li {
    padding: 8px;
}

#menu a {
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
    transition: all 300ms;
    border: 1px solid transparent; /* Añade un borde transparente inicialmente */
    padding: 8px 15px; /* Aumenta el espacio alrededor del texto para un clic más fácil */
}

#menu a:hover {
    background: #ccc;
    color: white;
    border: 1px solid #ccc; /* Muestra el borde al hacer hover */
    border-radius: 5px; /* Añade bordes redondeados */
}

/* Estilos del logo */
.logo {
    flex-grow: 1;
    flex-basis: 65%;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
}

.logo h1 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

/* Estilos del contenido y otros elementos */
#content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 80%;
}

.port_charla {
    margin-right: 90px;
}

.project {
    flex-grow: 1;
    flex-basis: 250px;
    margin-bottom: 50px;
    margin-right: 25px;
    border: 1px solid #ccc;
}

.project img {
    width: 100%;
    height: 100%;
}

.project-info {
    padding: 10px;   
}

.project-info a {
    font-size: 16px;
    color: black;
    transition: all 300ms;
}

.project-info a:hover {
    color: green;
}

.project-info p {
    font-size: 16px;
    color: gray;
}

#aside {
    flex-basis: 15%;
    margin-right: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#aside h2 {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    text-align: center;
}

#aside ul {
    list-style: none;
}

#aside ul li {
    padding-bottom: 20px;
}

#aside a {
    display: block;
    padding: 20px;
    background: #eee;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}

#aside a:hover {
    background: #444;
    color: #eee;
}

#footer {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer .logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
    order: 2;
    text-align: right;
    margin-right: 60px;
}

#footer .info {
    flex-grow: 1;
    order: 1;
    margin-left: 70px;
    color: #444;
}

