@import url(root.css);
/* Estilos para el tema claro (predeterminado) */
.light-theme {
    background-color: var(--background);
    color: var(--white);
}

/* Estilos para el tema oscuro */
.dark-theme {
    background-color: var(--main-black);
    color: var(--background);

}

/* Cambiar el color de los textos en el tema oscuro */

.dark-theme #menu a,
.dark-theme #aside h2,
.dark-theme #aside a,
.dark-theme #menu button,
.dark-theme .logo h1,
.dark-theme #about p,
.dark-theme #footer .logo,
.dark-theme #footer .info,
.dark-theme #projects .project-info a {
    color: var(--white); /* Color blanco para los textos específicos */
}

.dark-theme #about{
    background-color: var(--color--gr);
}

.dark-theme #projects .project-info a:hover {
    color: var(--color--g);
}